<!-- home page -->


<div class="homeinfo">
        <p>This is a Banking System , <br>that  allows you to conduct financial transactions <br>via the Internet.</p>

        <!-- buttons -->
        <a routerLink ="../customersinfo">
            <button class="btn">
                View All Customers
            </button>
        </a>


        <a routerLink ="../selectcustomerbyname">
            <button class="btn">
                Select and View One Customer
            </button>
        </a>


        <a routerLink ="../transfermoney">
            <button class="btn">
                Transfer Money
            </button>
        </a>
</div>