<html>
  <head></head>
  <body>
  
      <div class="nav">

        <h1>Banking System</h1>

        <ul>

          <li>
            <a routerLink ="Home">
              Home
            </a>
          </li>

          <li>
            <a routerLink ="customersinfo">
              Customers'Info
            </a>
          </li>

          <li>
            <a routerLink ="selectcustomerbyname">
              SelectCustomerByName
            </a>
          </li>

          <li>
            <a routerLink ="transfermoney">
              TransferMoney
            </a>
          </li>

        </ul>
      </div>
  <div class="test">
      <div class="routess">
        <router-outlet></router-outlet>
      </div>
  </div>
  
  </body>
</html> 


















