

.container-all
{
  
    
    width: 60%;
    height: 83vh;  
    padding: 70px 0px;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.266);
    margin-top: 110px;
    
    
}

.container-all h2
{  
     
    font-size: 40px;
    color: #8a9b4a;
    margin-top: -72px;
}

.tablee 
{
    
    background-color: rgb(242, 224, 200);
    color :rgb(85, 87, 38);
    width: 30%;
    margin: auto;
    margin-top: 1px;
    
    
  
}



.tablee th
{
    font-size:29px;
    border: 3px solid black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 10px;
}

.tablee td
{
    
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid black;
}


/*---------------------------------------------*/


@media (max-width: 2025px) 
{
   
    .container-all
    {
   
        width: 80%;
        height: 70vh;  
        padding: 20px 10px;
        margin-top: 170px;
 
    }
    
    .container-all h2
    {   
        font-size: 30px;
        margin-top: 5px;
        
    }
    
    .tablee 
    {
        width: 80%;
        margin: auto;
        
    }
   
    .tablee th
    {
        font-size:20px;
    }
    
    .tablee td
    {  
        font-size: 20px;
    }

}
@media (max-width: 730px) 
{
    .container-all
    {
   
        width: 80%;
        height: 70vh;  
        padding: 20px 0.5px;
        margin-top: 170px;
 
    }
    
    .container-all h2
    {   
        font-size: 30px;
        margin-top: 5px;
        
    }
    
    .tablee 
    {
        width: 70%;
        margin: auto;
        
    }
   
    .tablee th
    {
        font-size:20px;
    }
    
    .tablee td
    {  
        font-size: 20px;
    }


}
@media (max-width: 640px) 
{
    .container-all
    {
   
        width: 80%;
        height: 60vh;  
        padding: 20px 0.5px;
        margin-top: 170px;
        
 
    }
    
    .container-all h2
    {   
        font-size: 25px;
        margin-top: 30px;
    }
    
    .tablee 
    {
        width: 60%;
        margin: auto;
    }
   
    .tablee th
    {
        font-size:15px;
    }
    
    .tablee td
    {  
        font-size: 15px;
    }
    
}

@media (max-width: 400px) 
{
    .container-all
    {
   
        width: 80%;
        height: 60vh;  
        padding: 20px 0.5px;
        margin-top: 170px;
 
    }
    
    .container-all h2
    {   
        font-size: 20px;
        margin-top: 72px;
    }
    
    .tablee 
    {
        width: 50%;
        margin: auto;
    }
   
    .tablee th
    {
        font-size:15px;
    }
    
    .tablee td
    {  
        font-size: 15px;
    }
    
}